@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html, body, #root {
  background-color: #050116;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
}